body {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    background-image: url("table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;

}   
.main-container {
    padding-top: 15%;
    background-color: transparent;
}
.container {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgba(252, 255, 252, 0.333);
    border: 2px solid goldenrod;
    border-radius: 10px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    width: 150px;
    background-color: goldenrod;
    color: #fefefe;
    border:none;
    border-radius: 2px;
    font-weight: bold;
    padding: 10px auto;
    margin-bottom: 10px;
}
button:hover {
    background-color: rgba(136, 177, 136, 0.686);
    border: 2px solid goldenrod;
}
